# upstream app source code
upstream/

# secrets & local env
.env
!*.example.tfvars

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

# node / build artifacts
node_modules/
out/
.next*/

# ansible
*.retry
ansible/vault-password.txt
